::ng-deep {
  .map-container {
    width: 100vw !important;
    height: calc(100vh - 52px) !important;
  }
}

.carregando {
  position: absolute;
  display: flex;
  left: 0;
  z-index: 1;
  right: 0;
  place-content: center;
  margin-top: 40vh;
}

app-lista-onibus {
  z-index: 1;
  position: absolute;
  right: 10px;
  margin-top: 15px;

  table {
    width: 20%;
  }
}
