::ng-deep {
  .map-container {
    width: 100vw !important;
    height: calc(100vh - 52px) !important;
  }
}


.info {
  border: solid;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 20%;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  text-align-last: center;
  background-color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}


