<app-filtro-mapa *ngIf="linhaId" ></app-filtro-mapa>

<app-lista-onibus *ngIf="linhaId" [linhaId]="linhaId"></app-lista-onibus>

<div class="carregando" *ngIf="carregando">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="apiLoaded">
  <google-map [options]="options" [zoom]="13">
    <map-polyline *ngIf="polylineOptions" [options]="polylineOptions"></map-polyline>
    <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
      [title]="marker.title" [options]="marker.options">
    </map-marker>
  </google-map>
</div>
