<div class="container">

  <div class="titulo-listas">Linhas</div>

  <div class="filtro-listas">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtros
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form>
        <mat-form-field>
          <mat-label>Nome ou código</mat-label>
          <input matInput>
        </mat-form-field>

        <!-- <mat-form-field class="example-chip-list">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
              {{fruit}}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <section class="example-section">
          <mat-checkbox class="example-margin">Somente cartão</mat-checkbox>
        </section>

        <button mat-button>Buscar</button>
      </form>
    </mat-expansion-panel>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="COD">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.COD}} </td>
    </ng-container>

    <ng-container matColumnDef="NOME">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.NOME}} </td>
    </ng-container>

    <ng-container matColumnDef="SOMENTE_CARTAO">
      <th mat-header-cell *matHeaderCellDef> Somente Cartão </th>
      <td mat-cell *matCellDef="let element"> {{element.SOMENTE_CARTAO}} </td>
    </ng-container>

    <ng-container matColumnDef="CATEGORIA_SERVICO">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.CATEGORIA_SERVICO}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>
