<div class="filtros">
  <span>FILTROS</span>
  <form [formGroup]="form">
    <section class="example-section">
      <span>Situação:</span>
      <mat-checkbox class="example-margin"  (change)="selecionarSituacao($event, SituacaoOnibusEnum.ATRASADO)">Atrasado</mat-checkbox>
      <mat-checkbox class="example-margin"  (change)="selecionarSituacao($event, SituacaoOnibusEnum.NO_HORARIO)">No horário</mat-checkbox>
      <mat-checkbox class="example-margin"  (change)="selecionarSituacao($event, SituacaoOnibusEnum.ADIANTADO)">Adiantado</mat-checkbox>
      <mat-checkbox class="example-margin"  (change)="selecionarSituacao($event, SituacaoOnibusEnum.QUEBRADO)">Quebrado</mat-checkbox>
    </section>

    <section class="example-section">
      <span>Adaptado:</span>
      <mat-checkbox class="example-margin" formControlName="adaptado">Suporte a cadeirantes</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-slide-toggle formControlName="exibirPontos">Exibir pontos</mat-slide-toggle>
    </section>
  </form>

</div>
