<div class="filtros">
  <form [formGroup]="form">
    <section class="example-section">
      <span>Situação:</span>
      <mat-checkbox class="example-margin" (change)="selecionarSituacao($event, 'atrasado')" value="Atrasado">Atrasado</mat-checkbox>
      <mat-checkbox class="example-margin">Adiantado</mat-checkbox>
      <mat-checkbox class="example-margin">Quebrado</mat-checkbox>
    </section>

    <section class="example-section">
      <span>Adaptado:</span>
      <mat-checkbox class="example-margin" formControlName="adptado">Suporte a cadeirantes</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-slide-toggle formControlName="exibirPontos">Exibir pontos</mat-slide-toggle>
    </section>
  </form>

</div>
