.lista-onibus {
  width: 350px;
  ::ng-deep .mat-expansion-panel-header-title {
    justify-content: space-between;
  }

  a {
    color: black;
  }

  table {
    margin-top: 10px;
  }

  tr {
    text-align-last: center;
  }

  .status-lista-onibus {
    display: flex;
    flex-direction: column;
    padding: 0px 4px 4px 4px;
    font-size: 12px;
  }
}
