/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.titulo-listas {
  font-size: 36px;
  margin: 33px 0px;
}

.filtro-listas {
  margin: 16px 0px;

  form {
    display: flex;
    width: 100%;

    mat-form-field {
      margin-right: 8px;
    }
  }
}

